
<%= paginate @pictures %>

<div id="gallery">
  <% @pictures.each do |pic| %>
    <div class="picture">
      <%= link_to raw_url(pic) do %>
          <%= image_tag limit_width_url(pic), alt: generate_filename(pic) %>
      <% end %>
      <div class="caption">
        <%= generate_filename pic %>
        <%= link_to 'download', download_url(pic), download: generate_filename(pic) %>
      </div>
    </div>
  <% end %>
</div>

<footer class="footer" hidden>
  <h1>This is the end</h1>
</footer>