
<%= paginate @pictures %>

<div id="gallery">
  <% @pictures.each do |pic| %>
    <div class="picture">
      <%= link_to raw_url(pic) do %>
          <%= image_tag thumbnail_url(pic), alt: generate_filename(pic) %>
      <% end %>
      <div class="caption">
        <%= generate_filename pic %>
        <%= link_to download_url(pic),
              download: generate_filename(pic),
              class: 'icon' do %>
          <i class="color-white fa fa-arrow-circle-o-down fa-2x"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<footer class="footer" hidden>
  <h1>This is the end</h1>
</footer>